@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Demo Library!</h1>
    <p>This site was created using <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>

<fieldset>
    <legend>User Dashboard</legend>

    @if (@HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
    {
        <text>Welcome @HttpContextAccessor.HttpContext.Session.GetString("UserName")</text>
    }
</fieldset>