@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<LibraryInventoryTracker.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Demo Library!</h1>
    <p>This site was created using <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>

@if (@HttpContextAccessor.HttpContext.Session.GetString("UserName") != null)
{
    <h3>Welcome, @HttpContextAccessor.HttpContext.Session.GetString("UserName")!</h3>
}

@{Html.RenderPartial("~/Views/Book/Featured.cshtml", Model);}